{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    燕燕
{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <h1>I Love 石燕</h1>
    <div id="differ_time">
        <span>在一起的</span><span>{{days}}</span>天<span>{{hour}}</span>时<span>{{minute}}</span>分<span>{{second}}</span><span>秒！</span>
    </div>
    <script type="text/javascript" src="{% static 'js/differ_time.js' %}"></script>
    <img src="{% static 'images/photo.jpg' %}" width="600px" height="600px" alt="Image">
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
