{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block title %}
燕燕
{% endblock %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
    <audio id="audioMp3" src="{% static 'media/beautiful_life.mp3' %}" loop="loop" controls="controls"
           autoplay="autoplay"></audio>
    <h1>I Love 石燕</h1>
    <div id="differTime">
        <span>在一起的</span><span>{{days}}</span>天<span>{{hour}}</span>时<span>{{minute}}</span>分<span>{{second}}</span><span>秒！</span>
    </div>
    <img id="girlFriend" src="{% static 'images/photo.jpg' %}" alt="Jpg">
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}
